
<html lang="zh">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="static/css/default.css">
	<link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/view.css">


</head>
<body>
<div class="title">鲜花识别系统</div>
<div class="tl">训练</div><div class="ts">测试</div>
<div class="activity" >
    <ul class="poster-list"></ul>
</div>
<div class="show"></div>

<script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/view.js"></script>

</body>
</html>